<div class="container cloud">
    <div class="row">
        <div class="col">
            <h2 id="cloud">Moon Cloud</h2>
        </div>
    </div>
    <div class="row cloud__content">
        <div class="col-12">
            <p>Don't have your own Kubernetes cluster but still want to use Moon? This is now possible with <strong><a href="https://aerokube.com/moon-cloud/" target="_blank" title="Moon Cloud">Moon Cloud</a></strong> solution. How it looks like:</p>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/dK1V80HuPyU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>For more details about <strong>Moon Cloud</strong> - check <strong><a href="https://aerokube.com/moon-cloud/" target="_blank" title="Moon Cloud">this</a></strong> page.</p>
        </div>
    </div>
</div>
